version: '3.8'

services:
  {{ proxy_service_name }}:
    image: {{ nginx_image }}
    container_name: {{ proxy_service_name }}
    restart: unless-stopped
    privileged: true
    network_mode: host
    ports: []
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - {{ cert_path }}/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - {{ cert_path }}/cert-key.pem:/etc/ssl/private/cert-key.pem:ro
