server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ loki_url }}

scrape_configs:
  - job_name: proxy_docker
    static_configs:
      - targets: ['localhost']
        labels:
          job: proxy_docker
          __path__: {{ proxy_mount }}/*/*-json.log

  - job_name: app_docker
    static_configs:
      - targets: ['localhost']
        labels:
          job: app_docker
          __path__: {{ app_mount }}/*/*-json.log

  - job_name: db_docker
    static_configs:
      - targets: ['localhost']
        labels:
          job: db_docker
          __path__: {{ db_mount }}/*/*-json.log
