version: '3.8'

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    network_mode: host
    environment:
      - GF_LOG_LEVEL=error
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_SECURITY_ADMIN_PASSWORD="{{ grafana_admin_password }}"
    volumes:
      - grafana_data:/var/lib/grafana
      - {{ grafana_dir }}/provisioning:/etc/grafana/provisioning
      - {{ grafana_dir }}/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - loki

  loki:
    image: grafana/loki:3.3.2
    container_name: loki
    restart: unless-stopped
    network_mode: host
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki_data:/loki
      - {{ grafana_dir }}/loki-config.yaml:/etc/loki/local-config.yaml:ro
    privileged: true

volumes:
  grafana_data:
  loki_data:
